<footer>
    <div class="col p-0">
        <div class="footer">
            <div class="footer-top">
                <div class="footer-left">
                    <a href="https://www.evalueserve.com/" target="_blank"><img src="assets/images/evalue_logo_transparent.png" alt="" class="img-responsive"></a>
                </div>
                <div class="footer-right">
                    <ul>
                        <li><a href="#">About Portal</a></li>
                        <li><a href="#">Whats New</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Feedback</a></li>
                    </ul>
                    <p>Write to us @ <a href="javascript:void(0)">aira@evalueserve.com</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer-bottom">
                <p>Copyright 2021. Evalueserve.com Pvt. Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>