@import "../../../assets/styles/variables";
@import "../../../assets/styles/mediaqueries";
@import "../../../assets/styles/mixins";
.custom_overlay {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
    @include transition();
    z-index: 999;
    .custom_popup {
        max-width: 500px;
        width: 96%;
        @include transform(translate(-50%, -50%));
        position: absolute;
        left: 50%;
        top: 50%;
        background: $white;
        @include rounded();
        padding: 30px 20px;
        @include boxshadow(0, 0, 8px, $black);
        @include transition();
        text-align: center;
        >a {
            position: absolute;
            right: 15px;
            top: 15px;
            text-decoration: none;
            color: $black;
            i {
                font-size: 14px;
                @include mobileScreen {
                    font-size: 12px;
                }
            }
        }
        >i {
            font-size: 55px;
            color: $green;
            @include mobileScreen {
                font-size: 40px;
            }
        }
        h4 {
            font-size: 24px;
            margin: 10px 0;
            @include mobileScreen {
                font-size: 20px;
            }
        }
        p {
            font-size: 16px;
            color: $black;
            @include mobileScreen {
                font-size: 14px;
            }
        }
        button {
            min-width: 100px;
        }
    }
}