//Media Query ranges
$mobileScreen: 767px !default;
$mobileminiScreen: 420px !default;
$ipadScreen: 768px !default;
$ipadminiScreen: 991px !default;
$ipadRotateScreen: 1024px !default;
$laptopScreen: 1368px !default;
@mixin mobileScreen {
    @media screen and (max-width: #{$mobileScreen}) {
        @content;
    }
}

@mixin mobileminiScreen {
    @media screen and (max-width: #{$mobileminiScreen}) {
        @content;
    }
}

@mixin ipadScreen {
    @media screen and (max-width: #{$ipadScreen}) {
        @content;
    }
}

@mixin ipadminiScreen {
    @media screen and (max-width: #{$ipadminiScreen}) {
        @content;
    }
}

@mixin ipadRotateScreen {
    @media screen and (max-width: #{$ipadRotateScreen}) {
        @content;
    }
}

@mixin laptopScreen {
    @media screen and (max-width: #{$laptopScreen}) {
        @content;
    }
}